<h1>Bienvenido/a a la tienda en línea</h1>
<p>Esta es la página principal de nuestra tienda en línea. Desde aquí puedes acceder a las distintas secciones:</p>
<ul>
  <li><a href="/filtrar/productos">Ver todos los productos</a></li>
  <li><a href="/ordenes">Ver tus órdenes</a></li>
  <li><a href="/clientes">Ver todos los clientes</a></li>
  <li><a href="/perfil">Ver tu perfil</a></li>
  <li><a href="/crear-orden">Crear una nueva orden</a></li>
</ul>


